@import './reset.css';

:root {
    --app-dark-bg:#1a1d28;
    --app-red: #cc231e;
    --app-green:#34a65f;
    --app-light-bg: #f0f4f6;
}

body {
  background-color: var(--app-dark-bg);
}

.container{
  padding: 30px;
  color: var(--app-light-bg);
  width: min(100% - 30px, 1080px);
  font-weight: 400;
  position: absolute;
  margin-top: 150px;
  font-size: 100px;
}
 button{
  background-color: var(--app-red);
  color:var(--app-light-bg);
 }

