@import './reset.css';

:root {
    --app-dark-bg:#1a1d28;
    --app-red: #cc231e;
    --app-green:#34a65f;
    --app-light-bg: #f0f4f6;
}

body{
  margin: 0%;
  padding: 0%;
  background: black;
}
.container{
  padding: 30px;
  color: var(--app-light-bg);
  font-weight: bold;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  font-size: 150px;
  white-space: nowrap;
}
body {
margin: 0;
padding: 0;
background-color: var(--app-dark-bg);
}

.hours, .minutes, .seconds {
  font-size: 180px; 
  margin: 10px 0;
  color: #f2f4f6;
}